/cmake-build-debug/
.DS_Store
.idea
*.iml
example/clang_commands.sh
example/main
example/main.cpp.o
example/run.sh
build
.dub
docs.json
__dummy.html
docs/
/blah
blah.so
blah.dylib
blah.dll
blah.a
blah.lib
blah-test-*
*.exe
*.o
*.obj
*.lst